.explore-menu-contain{
    margin: 30px auto;
    
    & h1{
        font-size: 40px;
        color: rgba(0, 0, 0, 0.714);
        font-size: 500;
        padding: 10px 0;
    }

    & p{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.458);
        padding-bottom: 40px;
    }
    
}


.menu-item-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow-x: scroll;
}

.menu-item-list::-webkit-scrollbar{
    display: none;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
    & img{
        width: 80px;
        transition: 0.1s;

        &.active{
            padding: 5px;
            border: 4px solid tomato;
            border-radius: 100px;
        }
    }    
}

hr{
    width: 100%;
    height: 1px;
    border: none;
    background:rgba(0, 0, 0, 0.21) ;
}

@media (max-width:420px) {
    .explore-menu-contain{
        margin: 20px auto;
        
        & h1{
            font-size: 30px;
        }
    
        & p{
            font-size: 10px;
        }
        
    }
}